<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>ControleProduto</servlet-name>
        <servlet-class>controle.ControleProduto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>IncluirProduto</servlet-name>
        <servlet-class>controle.IncluirProduto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AlterarProduto</servlet-name>
        <servlet-class>controle.AlterarProduto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PesquisarProduto</servlet-name>
        <servlet-class>controle.PesquisarProduto</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ControleProduto</servlet-name>
        <url-pattern>/Controle</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>IncluirProduto</servlet-name>
        <url-pattern>/Incluir</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AlterarProduto</servlet-name>
        <url-pattern>/Alterar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PesquisarProduto</servlet-name>
        <url-pattern>/Pesquisar</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
